<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/Stylesheet.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Home Page</title>
    

  </head>
  <body>

    <div class="navbox">
      <ul>
        <li><a href="/Log_in">Log in</a></li>
        <li><a href="/Weather_hub">Weather hub</a></li>
      </ul>

      <div class="login_status">
        <img src="../static/Images/Log_in_red.jpg" alt="This img cannot be displayed">
      </div>

      <div class="log_out">
      </div>
    </div>

    <div class="wrapper">

      <div class="vertical-spread">
        <div class="data_box">
          <h1 >Temperature</h1>
          <h3 id="temp">content</h3>
        </div>

        <div class="data_box">
          <h1 >Rain</h1>
          <h3 id="precipitation">content</h3>
        </div>

        <div class="data_box">
          <h1 >Temperature</h1>
          <h3 id="humidity">content</h3>
        </div>

        <div class="data_box">
          <h1 >Temperature</h1>
          <h3 id="wind_spd">content</h3>
        </div>

        <div class="data_box">
          <h1 >Temperature</h1>
          <h3 id="is_day">content</h3>
        </div>
      </div>

          <div class="footer">
      <img src="../static/Images/Footer_image.jpeg" alt="This image cannot be displayed">
      </div>

    </div>



    <script>
      async function GetWeatherData() {
        const url = "https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&current=temperature_2m,wind_speed_10m,is_day,relative_humidity_2m,precipitation";
        const response = await fetch(url);
        const data = await response.json();
        console.log(data);

        document.getElementById("temp").innerHTML = "temperature: " + data.current.temperature_2m + " " + data.current_units.temperature_2m;
        
        document.getElementById("precipitation").innerHTML = "Precipitation: " + data.current.precipitation + " " + data.current_units.precipitation;

        document.getElementById("humidity").innerHTML = "relative humidity: " + data.current.relative_humidity_2m + " " + data.current_units.relative_humidity_2m;
        
        document.getElementById("wind_spd").innerHTML = "wind speed: " + data.current.wind_speed_10m + " " + data.current_units.wind_speed_10m;
           
        let dayOrNight = "";
        if (data.current.is_day > 0) {
          dayOrNight = "Day";
        } else {
          dayOrNight 
          = "Night";
        }
        document.getElementById("is_day").innerHTML = "Day or Night: " + dayOrNight;
      }
      GetWeatherData();
    </script>
  </body>
</html>